.nav {
    grid-area: n;
    background-color: cadetblue;
}
.item a {
    color: white;
    text-decoration: none;
    margin-left: 20px;

}
a:hover {
        color: powderblue;
}
a.active {
    color: gold;
}